body{
    background-color:rgb(100, 253, 252);
}
.text-block{
    background-color: white;
    width: 400px;
    height: 120px;
    padding-left:15px;
    padding-right: 15px;
    margin: 20px auto 30px;
    border-bottom: 5px double;
    border-top: 5px double;
    border-color: rgb(43,108,25);
}
.block-1{
    overflow: auto;
}

.block-2{
    border-color: rgb(43,109,26);
    overflow: hidden;
}

.block-3{
    white-space: nowrap;
    overflow: scroll;
}